<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

@font-face {
    font-family: polysansneutral;
    src: url(/fonts/PolySansTrial-Neutral.otf);
}
@font-face {
    font-family: polysansmedian;
    src: url(/fonts/PolySansTrial-Median.otf);
}

@font-face {
    font-family: polysansbulky;
    src: url(/fonts/PolySansTrial-Bulky.otf);
}

@font-face {
    font-family: polysansslim;
    src: url(/fonts/PolySansTrial-Slim.otf);
}

@font-face {
    font-family: blanka;
    src: url(/fonts/Blanka-Regular.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.6);
}

::selection {
    background: #2b2b2b;
=======
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

@font-face {
    font-family: polysansneutral;
    src: url(/fonts/PolySansTrial-Neutral.otf);
}
@font-face {
    font-family: polysansmedian;
    src: url(/fonts/PolySansTrial-Median.otf);
}

@font-face {
    font-family: polysansbulky;
    src: url(/fonts/PolySansTrial-Bulky.otf);
}

@font-face {
    font-family: polysansslim;
    src: url(/fonts/PolySansTrial-Slim.otf);
}

@font-face {
    font-family: blanka;
    src: url(/fonts/Blanka-Regular.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.6);
}

::selection {
    background: #2b2b2b;
>>>>>>> b1223e4 (unfixed)
  }